<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>Rubrowser</title>
    <link media='all' rel='stylesheet'>
    <style><%= file('css/application.css') %></style>
  </head>
  <body>
    <div class='dependency_graph'>
      <svg></svg>
    </div>
    <script src='https://unpkg.com/lodash@4.17.4/lodash.min.js' type='text/javascript'></script>
    <script src='https://unpkg.com/d3@4.13.0/build/d3.min.js' type='text/javascript'></script>
    <script src='https://unpkg.com/jquery@3.3.1/dist/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
     var data = <%= data %>
    </script>
    <script type='text/javascript'><%= file('javascript/application.js') %></script>

    <% if toolbox? %>
      <%= erb :toolbox %>
      <script type='text/javascript'><%= file('javascript/toolbox.js') %></script>
    <% end %>
  </body>
</html>
